[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tsinghua"

[packages]
easygui = "*"
requests = "*"
beautifulsoup4 = "==4.10.0"
pyyaml = "*"
multitasking = "*"
retry = "*"

[dev-packages]

[requires]
python_version = "3.9"
